<hr>

## TABLE OF CONTENTS

1. [Packages](##1.-PACKAGES)

2. [Datasets](##2.-DATASETS)

3. [Analysis & Visualization](##3.-ANALYSIS-&-VISUALIZATION)

4. [Data Preparation & Preprocessing](##4.-DATA-PREPARATION-&-PREPROCESSING)

5. [Build & Evaluate ML Models](##5.-BUILD-&-EVALUATE-ML-MODELS)

6. [Model Comparison](##6.-MODEL-COMPARISON)

7. [Conclusion](##7.-CONCLUSION)

<hr>

## 1. PACKAGES

### Essential libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Machine learning libraries

In [2]:
# model selection:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

# preprocessing:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

# models:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

# metrics:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score, roc_curve, mean_squared_error
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay

<hr>

## 2. DATASETS

### Read csv files

In [3]:
df_2C = pd.read_csv('datasets/orthopedic_2C.csv')
df_3C = pd.read_csv('datasets/orthopedic_3C.csv')

In [4]:
print(df_2C.shape)
print(df_3C.shape)

(310, 7)
(310, 7)

In [5]:
# 2 dfs should have the same data structure and values:
if df_2C.iloc[:, :6].equals(df_3C.iloc[:, :6]):
    # Display the first 10 rows and 6 columns of df_2c
    display(df_2C.iloc[:10, :6])

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501
5,40.250200,13.921907,25.124950,26.328293,130.327871,2.230652
6,53.432928,15.864336,37.165934,37.568592,120.567523,5.988551
7,45.366754,10.755611,29.038349,34.611142,117.270067,-10.675871
8,43.790190,13.533753,42.690814,30.256437,125.002893,13.289018
9,36.686353,5.010884,41.948751,31.675469,84.241415,0.664437

In [6]:
print(df_2C['class'].unique())
print(df_3C['class'].unique())

['Abnormal' 'Normal']
['Hernia' 'Spondylolisthesis' 'Normal']

<hr>

## 3. ANALYSIS & VISUALIZATION

### Class Distribution

#### df_2C

In [7]:
distribution_2C = pd.DataFrame({
    'Class': df_2C['class'].value_counts().index,
    'Count': df_2C['class'].value_counts().values,
    'Percentage (%)': round(df_2C['class'].value_counts(normalize=True)*100,2)
}).reindex(['Normal', 'Abnormal'])

distribution_2C = distribution_2C.reset_index(drop=True)

display(distribution_2C.style.hide(axis="index"))

#### df_3C

In [8]:
distribution_3C = pd.DataFrame({
    'Class': df_3C['class'].value_counts().index,
    'Count': df_3C['class'].value_counts().values,
    'Percentage (%)': round(df_3C['class'].value_counts(normalize=True)*100,2)
}).reindex(['Normal', 'Hernia', 'Spondylolisthesis'])

distribution_3C = distribution_3C.reset_index(drop=True)

display(distribution_3C.style.hide(axis="index"))

### ...

<hr>

## 4. DATA PREPARATION & PREPROCESSING

### Class Encoding

In [9]:
# Initialize Encoder
oh_encoder = OneHotEncoder(sparse_output=False)
lb_encoder = LabelEncoder()

#### df_2C

In [10]:
# Make a copy to reserve original data
df_2C_encoded = df_2C.copy()

# Apply OneHot encoder to 'class' and transform to an array
encoded_array_2C = oh_encoder.fit_transform(df_2C_encoded[['class']])
# Create a dataframe from the encoded array
encoded_df_2C = pd.DataFrame(encoded_array_2C, columns=oh_encoder.get_feature_names_out(['class']))
# Concatenate the encoded dataframe with the original dataframe
df_2C_encoded = pd.concat([df_2C_encoded, encoded_df_2C], axis=1)
# Drop the original 'class', and 'class_Normal' column
df_2C_encoded.drop(['class','class_Normal'], axis=1, inplace=True)

# Value Counts:
display(df_2C_encoded['class_Abnormal'].value_counts().sort_index(ascending=False))

display(df_2C_encoded.head())

class_Abnormal
1.0    210
0.0    100
Name: count, dtype: int64

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class_Abnormal
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,1.0
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,1.0
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,1.0
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,1.0
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,1.0

#### df_3C

In [11]:
# Make a copy to reserve original data
df_3C_encoded = df_3C.copy()

# Custom classes: 'Normal'=0, 'Hernia'=1, 'Spondylolisthesis'=2
custom_classes = ['Normal', 'Hernia', 'Spondylolisthesis']
# Force custom order
lb_encoder.classes_ = np.array(custom_classes)
# Transform using the custom order
df_3C_encoded['class'] = lb_encoder.transform(df_3C_encoded['class'])

# Value Counts:
display(df_3C_encoded['class'].value_counts().sort_index(ascending=False))

display(df_3C_encoded.head())

class
2    150
1     60
0    100
Name: count, dtype: int64

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,1
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,1
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,1
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,1
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,1

### Data Scaling

#### df_2C

#### df_3C

<hr>

## 5. BUILD & EVALUATE ML MODELS

### DecisionTree Model

### Gaussian Naive Bayes Model

<hr>

## 6. MODEL COMPARISON

<hr>

## 7. CONCLUSION